{% extends 'events/base.html' %}

{% block content %}


<h1>Event List</h1>

{% for events in event_list %}

<div class="card">
  <div class="card-header">
    <strong>{{ events }} </strong> 
  </div>
  <div class="card-body">
    <h5 class="card-title">Venue: {{ events.venue }}</h5>
    <p class="card-text">
	<ul>
		<li>Date: {{ events.event_date }}</li>
		<li>Venue Website:<a href="{{ events.venue.web }}"> {{ events.venue.web }}</li></a>
		<li>Venue Email: {{ events.venue.email_address }}</li>
		<li>Manager: {{ events.manager }}</li>
		<li>Description: {{ events.description }}</li>
		<li>Attendees:  </li>
		<ol>
		{% for user in events.attendees.all %} <!-- Use events.attendees.all to access all attendees in events -->
		
		<li>{{ user }}</li>
		
		{% endfor %}
	</ol>
	</ul>
	</p>
  </div>
  <div class="card-footer text-muted">
    <a href="{% url 'update-event' events.id %} "><button class="btn btn-success">Update</button></a>
    <a href="{% url 'delete-event' events.id %} "><button class="btn btn-danger">Delete</button></a>
  </div>
  
</div>
<br/><br/><br/>
{% endfor %}

<a href="{% url 'event-text' %} "><button class="btn btn-success">Download all events in txt files</button></a>
{% endblock %}