{% extends 'events/base.html' %}

{% block content %}


<h1>Venues...</h1>
<br/>
<table class="table table-striped table-hover">
	{% for venues in venues_list %}
		<tr>
			<td><a href="{% url 'show-venues' venues.id %} ">{{ venues }}</a> </td>
			<td align="right">
			<a href="{% url 'update-venues' venues.id %} "><button class="btn btn-success">Update</button></a>
			<a href="{% url 'delete-venue' venues.id %} "><button class="btn btn-danger">Delete</button></a>	
			</td>
			
		</tr>
		
	{% endfor %}
</table>
<br/><br/>
<a href="{% url 'venue-text' %} "><button class="btn btn-success">Download all venue in txt files</button></a>    
<a href="{% url 'venue-csv' %} "><button class="btn btn-danger">Download all venue in csv files</button></a> 
{% endblock %}